@tailwind base;
@tailwind components;
@tailwind utilities;
/* import Rubik font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
	--dark: rgb(20, 20, 20);
	--yellow: rgb(253, 216, 53);
	--blue: rgb(98, 0, 234);

	--c1: rgb(38, 70, 83);
	--c2: rgb(42, 157, 143);

	--left-color: var(--c1);
	--right-color: var(--c2);
}

/* body {
	@apply bg-slate-800 text-white;
} */

/* Scroll bar hide */

/* Chrome, Safari and Opera */
::-webkit-scrollbar {
	display: none;
}
/* Edge, Firefox */
body,
html {
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-behavior: smooth;
}

/* scrolldown indicator homepage */
.box span {
	width: 20px;
	height: 20px;
	display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -15px;
	animation: animate 3s infinite;
}

.box span:nth-child(2) {
	animation-delay: -0.2s;
}

.box span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(20px, 20px);
	}
	100% {
		opacity: 0;
	}
}
